<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Post</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="form-container">
    <h1>Edit Your Post ✏️</h1>

    <p><strong>Post ID:</strong><%= post.id%></p>
    <p><strong>Username:</strong>@<%= post.username %></p>

    <form action="/post/<%= post.id %>?_method=PATCH" method="POST">
      <div class="input-group">
        <label for="content">Post:</label>
        <textarea id="content" name="content" required><%= post.content %></textarea>
      </div>

      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</body>
</html>